1 24 "setup.manifest"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "Niobium Setup"
      VALUE "ProductName", "Niobium"
      VALUE "FileVersion", "0.1.0"
      VALUE "ProductVersion", "0.1.0"
      VALUE "OriginalFilename", "setup.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
